In [1]:
import numpy as np

import pandas as pd

In [2]:
index = pd.date_range("1/1/2000", periods=8)

s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=["A", "B", "C"])

df = pd.DataFrame(
    {
        "one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
        "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
        "three": pd.Series(np.random.randn(3), index=["b", "c", "d"]),
    }
)

In [6]:
data = [[8000, 1000], [9500, np.nan], [5000, 2000]]
df = pd.DataFrame(data, columns=['Salary', 'Others'])
print(df)
#    Salary  Others
# 0    8000  1000.0
# 1    9500     NaN
# 2    5000  2000.0

def subtract_national_insurance(rate, df, rate_increase):
    new_rate = rate + rate_increase
    return df * (1 - new_rate)

print(
    df.pipe(subtract_federal_tax)
    .pipe(subtract_state_tax, rate=0.12)
    .pipe(
        (subtract_national_insurance, 'df'),
        rate=0.05,
        rate_increase=0.02
    )
)
#     Salary   Others
# 0  5892.48   736.56
# 1  6997.32      NaN
# 2  3682.80  1473.12

   Salary  Others
0    8000  1000.0
1    9500     NaN
2    5000  2000.0
    Salary   Others
0  5892.48   736.56
1  6997.32      NaN
2  3682.80  1473.12