In [5]:
import numpy as np

import pandas as pd

In [6]:
s = pd.Series(np.arange(5.0), name="ejemplo")
print(s.name)
# ejemplo

s2 = s.rename("renamed_example")
print(s2.name)
# renamed_example

# Se crea una copia de s
s2[0] = 100
print(s2)
# 0    100.0
# 1      1.0
# 2      2.0
# 3      3.0
# 4      4.0
# Name: renamed_example, dtype: float64
print(s)
# 0    0.0
# 1    1.0
# 2    2.0
# 3    3.0
# 4    4.0
# Name: ejemplo, dtype: float64

ejemplo
renamed_example
0    100.0
1      1.0
2      2.0
3      3.0
4      4.0
Name: renamed_example, dtype: float64
0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
Name: ejemplo, dtype: float64

In [7]:
# Diccionario de series
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
}

# Se crea un DataFrame a partir del diccionario
print(pd.DataFrame(d))
#    one  two
# a  1.0  1.0
# b  2.0  2.0
# c  3.0  3.0
# d  NaN  4.0

# Se especifican los índices que se quieren mostrar
print(pd.DataFrame(d, index=["d", "b", "a"]))
#    one  two
# d  NaN  4.0
# b  2.0  2.0
# a  1.0  1.0

# Se especifican los índices y columnas que se quieren mostrar
print(pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "three"]))
#    two three
# d  4.0   NaN
# b  2.0   NaN
# a  1.0   NaN

print(pd.DataFrame(d).index)
# Index(['a', 'b', 'c', 'd'], dtype='object')

print(pd.DataFrame(d).columns)
# Index(['one', 'two'], dtype='object')

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0
   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN
Index(['a', 'b', 'c', 'd'], dtype='object')
Index(['one', 'two'], dtype='object')

In [8]:
d = {"one": [1.0, 2.0, 3.0, 4.0], "two": [4.0, 3.0, 2.0, 1.0]}

print(pd.DataFrame(d))
#    one  two
# 0  1.0  4.0
# 1  2.0  3.0
# 2  3.0  2.0
# 3  4.0  1.0

print(pd.DataFrame(d, index=["a", "b", "c", "d"]))
#    one  two
# a  1.0  4.0
# b  2.0  3.0
# c  3.0  2.0
# d  4.0  1.0

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0
   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

In [9]:
data = np.zeros((2,), dtype=[("A", "i4"), ("B", "f4"), ("C", "a10")])

data[:] = [(1, 2.0, "Hello"), (2, 3.0, "World")]

print(pd.DataFrame(data))
#    A    B         C
# 0  1  2.0  b'Hello'
# 1  2  3.0  b'World'

print(pd.DataFrame(data, index=["first", "second"]))
#         A    B         C
# first   1  2.0  b'Hello'
# second  2  3.0  b'World'

print(pd.DataFrame(data, columns=["C", "A", "B"]))
#           C  A    B
# 0  b'Hello'  1  2.0
# 1  b'World'  2  3.0

   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'
        A    B         C
first   1  2.0  b'Hello'
second  2  3.0  b'World'
          C  A    B
0  b'Hello'  1  2.0
1  b'World'  2  3.0

In [10]:
data2 = [{"a": 1, "b": 2}, {"a": 5, "b": 10, "c": 20}]

print(pd.DataFrame(data2))
#    a   b     c
# 0  1   2   NaN
# 1  5  10  20.0

print(pd.DataFrame(data2, index=["first", "second"]))
#         a   b     c
# first   1   2   NaN
# second  5  10  20.0

print(pd.DataFrame(data2, columns=["a", "b"]))
#    a   b
# 0  1   2
# 1  5  10

   a   b     c
0  1   2   NaN
1  5  10  20.0
        a   b     c
first   1   2   NaN
second  5  10  20.0
   a   b
0  1   2
1  5  10

In [11]:
print(pd.DataFrame(
    {
        ("a", "b"): {("A", "B"): 1, ("A", "C"): 2},
        ("a", "a"): {("A", "C"): 3, ("A", "B"): 4},
        ("a", "c"): {("A", "B"): 5, ("A", "C"): 6},
        ("b", "a"): {("A", "C"): 7, ("A", "B"): 8},
        ("b", "b"): {("A", "D"): 9, ("A", "B"): 10},
    }
))
#        a              b      
#        b    a    c    a     b
# A B  1.0  4.0  5.0  8.0  10.0
#   C  2.0  3.0  6.0  7.0   NaN
#   D  NaN  NaN  NaN  NaN   9.0

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

In [12]:
ser = pd.Series(range(3), index=list("abc"), name="ser")

print(pd.DataFrame(ser))
#    ser
# a    0
# b    1
# c    2

   ser
a    0
b    1
c    2

In [13]:
print(
    pd.DataFrame.from_dict(
        dict([
            ("A", [1, 2, 3]),
            ("B", [4, 5, 6])
        ])
    )
)
#    A  B
# 0  1  4
# 1  2  5
# 2  3  6

   A  B
0  1  4
1  2  5
2  3  6

In [14]:
print(
    pd.DataFrame.from_dict(
        dict([
            ("A", [1, 2, 3]),
            ("B", [4, 5, 6])
        ]),
        orient="index",
        columns=["one", "two", "three"],
    )
)
#    one  two  three
# A    1    2      3
# B    4    5      6

   one  two  three
A    1    2      3
B    4    5      6

In [15]:
data = np.array([(3, 'a'), (2, 'b'), (1, 'c'), (0, 'd')],
                dtype=[('col_1', 'i4'), ('col_2', 'U1')])
p=pd.DataFrame.from_records(data)
print(p)
#    col_1 col_2
# 0      3     a
# 1      2     b
# 2      1     c
# 3      0     d

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [16]:
data = [{'col_1': 3, 'col_2': 'a'},
        {'col_1': 2, 'col_2': 'b'},
        {'col_1': 1, 'col_2': 'c'},
        {'col_1': 0, 'col_2': 'd'}]
p=pd.DataFrame.from_records(data)
print(p)
#    col_1 col_2
# 0      3     a
# 1      2     b
# 2      1     c
# 3      0     d

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [17]:
data = [(3, 'a'), (2, 'b'), (1, 'c'), (0, 'd')]
p=pd.DataFrame.from_records(data, columns=['col_1', 'col_2'])
print(p)
#    col_1 col_2
# 0      3     a
# 1      2     b
# 2      1     c
# 3      0     d

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d