In [2]:
import numpy as np

import pandas as pd

In [3]:
data = {
    'Nombre': ['Juan', 'María', 'Carlos'],
    'Edad': [25, 30, 28]
}

df = pd.DataFrame(data)

# Agregar una nueva columna de edades en meses
edades_en_meses = [edad*12 for edad in df['Edad']]
df['Edad_en_anios'] = edades_en_meses

print(df)

   Nombre  Edad  Edad_en_anios
0    Juan    25            300
1   María    30            360
2  Carlos    28            336

In [4]:
import pandas as pd

data = {
    'Nombre': ['Juan', 'María', 'Carlos'],
    'Edad': [25, 30, 28]
}

df = pd.DataFrame(data)

print(df['Nombre'])
# 0      Juan
# 1     María
# 2    Carlos
# Name: Nombre, dtype: object

0      Juan
1     María
2    Carlos
Name: Nombre, dtype: object

In [5]:
data = {
    'Nombre': ['Juan', 'María', 'Carlos'],
    'Edad': [25, 30, 28],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}

df = pd.DataFrame(data)

print(df)
#    Nombre  Edad     Ciudad
# 0    Juan    25     Madrid
# 1   María    30  Barcelona
# 2  Carlos    28   Valencia

print(df.loc[:, ['Nombre', 'Ciudad']])
#    Nombre     Ciudad
# 0    Juan     Madrid
# 1   María  Barcelona
# 2  Carlos   Valencia

print(df.loc[:1, ['Edad', 'Ciudad']])
#    Edad     Ciudad
# 0    25     Madrid
# 1    30  Barcelona

   Nombre  Edad     Ciudad
0    Juan    25     Madrid
1   María    30  Barcelona
2  Carlos    28   Valencia
   Nombre     Ciudad
0    Juan     Madrid
1   María  Barcelona
2  Carlos   Valencia
   Edad     Ciudad
0    25     Madrid
1    30  Barcelona

In [6]:
import pandas as pd

data = {
    'Nombre': ['Juan', 'María', 'Carlos'],
    'Edad': [25, 30, 28]
}

df = pd.DataFrame(data)

# Definir una función que clasifica a las personas por edad
def clasificar_edad(edad):
    if edad < 30:
        return 'Joven'
    else:
        return 'Adulto'

# Agregar una columna 'Clasificación' basada en la función
df['Clasificación'] = df['Edad'].apply(clasificar_edad)

print(df)
#    Nombre  Edad Clasificación
# 0    Juan    25         Joven
# 1   María    30        Adulto
# 2  Carlos    28         Joven

   Nombre  Edad Clasificación
0    Juan    25         Joven
1   María    30        Adulto
2  Carlos    28         Joven

In [7]:
df = pd.DataFrame([('falcon', 'bird', 389.0),
                   ('parrot', 'bird', 24.0),
                   ('lion', 'mammal', 80.5),
                   ('monkey', 'mammal', np.nan)],
                  columns=('name', 'class', 'max_speed'))

print(df)
#      name   class  max_speed
# 0  falcon    bird      389.0
# 1  parrot    bird       24.0
# 2    lion  mammal       80.5
# 3  monkey  mammal        NaN

print(df.pop('class'))
# 0      bird
# 1      bird
# 2    mammal
# 3    mammal
# Name: class, dtype: object

print(df)
#      name  max_speed
# 0  falcon      389.0
# 1  parrot       24.0
# 2    lion       80.5
# 3  monkey        NaN

     name   class  max_speed
0  falcon    bird      389.0
1  parrot    bird       24.0
2    lion  mammal       80.5
3  monkey  mammal        NaN
0      bird
1      bird
2    mammal
3    mammal
Name: class, dtype: object
     name  max_speed
0  falcon      389.0
1  parrot       24.0
2    lion       80.5
3  monkey        NaN

In [12]:
df=pd.DataFrame(np.arange(1,8)*10,columns=['A'])

print(df)
#     A
# 0  10
# 1  20
# 2  30
# 3  40
# 4  50
# 5  60
# 6  70

df['B']=df['A'][:5]

print(df)
#     A     B
# 0  10  10.0
# 1  20  20.0
# 2  30  30.0
# 3  40  40.0
# 4  50  50.0
# 5  60   NaN
# 6  70   NaN

    A
0  10
1  20
2  30
3  40
4  50
5  60
6  70
    A     B
0  10  10.0
1  20  20.0
2  30  30.0
3  40  40.0
4  50  50.0
5  60   NaN
6  70   NaN

In [13]:
import pandas as pd

data = {
    'Producto': ['A', 'B', 'C'],
    'Precio': [10, 20, 15],
    'Cantidad': [3, 2, 5]
}

df = pd.DataFrame(data)

# Insertar una nueva columna 'Mes' después de la columna 'Producto'
meses = ['Enero', 'Febrero', 'Marzo']
df.insert(loc=1, column='Mes', value=meses)

print(df)
#   Producto      Mes  Precio  Cantidad
# 0        A    Enero      10         3
# 1        B  Febrero      20         2
# 2        C    Marzo      15         5

  Producto      Mes  Precio  Cantidad
0        A    Enero      10         3
1        B  Febrero      20         2
2        C    Marzo      15         5

In [14]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
print(df)
#    col1  col2
# 0     1     3
# 1     2     4
df.insert(1, "newcol", [99, 99])
print(df)
#    col1  newcol  col2
# 0     1      99     3
# 1     2      99     4
df.insert(0, "col1", [100, 100], allow_duplicates=True)
print(df)
#    col1  col1  newcol  col2
# 0   100     1      99     3
# 1   100     2      99     4

   col1  col2
0     1     3
1     2     4
   col1  newcol  col2
0     1      99     3
1     2      99     4
   col1  col1  newcol  col2
0   100     1      99     3
1   100     2      99     4

In [15]:
df = pd.DataFrame({'temp_c': [17.0, 25.0]},
                  index=['Portland', 'Berkeley'])

print(df)

print(df.assign(temp_f=lambda x: x.temp_c * 9 / 5 + 32))
print(df.assign(temp_f=lambda x: x['temp_c'] * 9 / 5 + 32))

          temp_c
Portland    17.0
Berkeley    25.0
          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0
          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0

In [16]:
import pandas as pd

data = {
    'Nombre': ['Juan', 'María', 'Carlos'],
    'Edad': [25, 30, 28],
    'Ciudad Nacimiento': ['Madrid', 'Barcelona', 'Valencia']
}

df = pd.DataFrame(data)

# Acceder a la columna 'Nombre' usando la notación de punto
nombres = df.Nombre

print(nombres)
# 0      Juan
# 1     María
# 2    Carlos
# Name: Nombre, dtype: object

0      Juan
1     María
2    Carlos
Name: Nombre, dtype: object

In [25]:
df = pd.DataFrame({'temp_c': [17.0, 25.0]},
                  index=['Portland', 'Berkeley'])
print(df)
#           temp_c
# Portland    17.0
# Berkeley    25.0


# Cuando el valor es un callable, se pasa el dataframe entero y se espera que devuelva una serie de valores indexados
print(df.assign(temp_f=lambda x: x.temp_c * 9 / 5 + 32)) # Notación de punto
#           temp_c  temp_f
# Portland    17.0    62.6
# Berkeley    25.0    77.0
print(df.assign(temp_f=lambda x: x['temp_c'] * 9 / 5 + 32)) # Notación de corchetes
#           temp_c  temp_f
# Portland    17.0    62.6
# Berkeley    25.0    77.0


# Asignar varias columnas a la vez (chaining o encadenamiento)
df=df.assign(temp_f=lambda x: x.temp_c * 9 / 5 + 32,
                temp_k=lambda x: (x.temp_f +  459.67) * 5 / 9)
print(df)
#           temp_c  temp_f  temp_k
# Portland    17.0    62.6  290.15
# Berkeley    25.0    77.0  298.15


# Sobreescribir una columna existente
df=df.assign(temp_f=lambda x: (x.temp_c * 9 / 5 + 32)+10000) # Valor solo para ejemplo (sobreescribe la columna temp_f)
print(df)
#           temp_c   temp_f  temp_k
# Portland    17.0  10062.6  290.15
# Berkeley    25.0  10077.0  298.15

          temp_c
Portland    17.0
Berkeley    25.0
          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0
          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0
          temp_c  temp_f  temp_k
Portland    17.0    62.6  290.15
Berkeley    25.0    77.0  298.15
          temp_c   temp_f  temp_k
Portland    17.0  10062.6  290.15
Berkeley    25.0  10077.0  298.15

In [28]:
df=pd.DataFrame(np.arange(1,8)*10,columns=['A'])
print(df)
print(df[1:5])

    A
0  10
1  20
2  30
3  40
4  50
5  60
6  70
    A
1  20
2  30
3  40
4  50

In [32]:
print(pd.DataFrame(np.arange(9).reshape(3,3),columns=['A','B','C']).transpose())

   0  1  2
A  0  3  6
B  1  4  7
C  2  5  8