In [5]:
import numpy as np

import pandas as pd

In [24]:
data = {
    'Nombre': ['Juan', 'María', 'Carlos'],
    'Edad': [25, 30, 28]
}

df = pd.DataFrame(data)

# Agregar una nueva columna de edades en meses
edades_en_meses = [edad*12 for edad in df['Edad']]
df['Edad_en_anios'] = edades_en_meses

print(df)

   Nombre  Edad  Edad_en_anios
0    Juan    25            300
1   María    30            360
2  Carlos    28            336

In [26]:
import pandas as pd

data = {
    'Nombre': ['Juan', 'María', 'Carlos'],
    'Edad': [25, 30, 28]
}

df = pd.DataFrame(data)

print(df['Nombre'])
# 0      Juan
# 1     María
# 2    Carlos
# Name: Nombre, dtype: object

0      Juan
1     María
2    Carlos
Name: Nombre, dtype: object

In [31]:
data = {
    'Nombre': ['Juan', 'María', 'Carlos'],
    'Edad': [25, 30, 28],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}

df = pd.DataFrame(data)

print(df)
#    Nombre  Edad     Ciudad
# 0    Juan    25     Madrid
# 1   María    30  Barcelona
# 2  Carlos    28   Valencia

print(df.loc[:, ['Nombre', 'Ciudad']])
#    Nombre     Ciudad
# 0    Juan     Madrid
# 1   María  Barcelona
# 2  Carlos   Valencia

print(df.loc[:1, ['Edad', 'Ciudad']])
#    Edad     Ciudad
# 0    25     Madrid
# 1    30  Barcelona

   Nombre  Edad     Ciudad
0    Juan    25     Madrid
1   María    30  Barcelona
2  Carlos    28   Valencia
   Nombre     Ciudad
0    Juan     Madrid
1   María  Barcelona
2  Carlos   Valencia
   Edad     Ciudad
0    25     Madrid
1    30  Barcelona

In [34]:
import pandas as pd

data = {
    'Nombre': ['Juan', 'María', 'Carlos'],
    'Edad': [25, 30, 28]
}

df = pd.DataFrame(data)

# Definir una función que clasifica a las personas por edad
def clasificar_edad(edad):
    if edad < 30:
        return 'Joven'
    else:
        return 'Adulto'

# Agregar una columna 'Clasificación' basada en la función
df['Clasificación'] = df['Edad'].apply(clasificar_edad)

print(df)
#    Nombre  Edad Clasificación
# 0    Juan    25         Joven
# 1   María    30        Adulto
# 2  Carlos    28         Joven

   Nombre  Edad Clasificación
0    Juan    25         Joven
1   María    30        Adulto
2  Carlos    28         Joven

In [39]:
df = pd.DataFrame([('falcon', 'bird', 389.0),
                   ('parrot', 'bird', 24.0),
                   ('lion', 'mammal', 80.5),
                   ('monkey', 'mammal', np.nan)],
                  columns=('name', 'class', 'max_speed'))

print(df)
#      name   class  max_speed
# 0  falcon    bird      389.0
# 1  parrot    bird       24.0
# 2    lion  mammal       80.5
# 3  monkey  mammal        NaN

print(df.pop('class'))
# 0      bird
# 1      bird
# 2    mammal
# 3    mammal
# Name: class, dtype: object

print(df)
#      name  max_speed
# 0  falcon      389.0
# 1  parrot       24.0
# 2    lion       80.5
# 3  monkey        NaN

     name   class  max_speed
0  falcon    bird      389.0
1  parrot    bird       24.0
2    lion  mammal       80.5
3  monkey  mammal        NaN
0      bird
1      bird
2    mammal
3    mammal
Name: class, dtype: object
     name  max_speed
0  falcon      389.0
1  parrot       24.0
2    lion       80.5
3  monkey        NaN