In [2]:
import numpy as np

import pandas as pd

In [3]:
index = pd.date_range("1/1/2000", periods=8)

s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=["A", "B", "C"])

df = pd.DataFrame(
    {
        "one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
        "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
        "three": pd.Series(np.random.randn(3), index=["b", "c", "d"]),
    }
)

In [7]:
df = pd.DataFrame(
    [[1, 2, 3, 4], [6, 7, 8, 9]], columns=["D", "B", "E", "A"], index=[1, 2]
)

other = pd.DataFrame(
    [[10, 20, 30, 40], [60, 70, 80, 90], [600, 700, 800, 900]],
    columns=["A", "B", "C", "D"],
    index=[2, 3, 4],
)

print(df)
#    D  B  E  A
# 1  1  2  3  4
# 2  6  7  8  9

print(other)
#     A    B    C    D
# 2   10   20   30   40
# 3   60   70   80   90
# 4  600  700  800  900

   D  B  E  A
1  1  2  3  4
2  6  7  8  9
     A    B    C    D
2   10   20   30   40
3   60   70   80   90
4  600  700  800  900

In [8]:
left, right = df.align(other, join="outer", axis=1)
print(left)
#    A  B   C  D  E
# 1  4  2 NaN  1  3
# 2  9  7 NaN  6  8
print(right)
#     A    B    C    D   E
# 2   10   20   30   40 NaN
# 3   60   70   80   90 NaN
# 4  600  700  800  900 NaN

   A  B   C  D  E
1  4  2 NaN  1  3
2  9  7 NaN  6  8
     A    B    C    D   E
2   10   20   30   40 NaN
3   60   70   80   90 NaN
4  600  700  800  900 NaN

In [10]:
left, right = df.align(other, join="outer", axis=0)
print(left)
#     D    B    E    A
# 1  1.0  2.0  3.0  4.0
# 2  6.0  7.0  8.0  9.0
# 3  NaN  NaN  NaN  NaN
# 4  NaN  NaN  NaN  NaN
print(right)
#     A      B      C      D
# 1    NaN    NaN    NaN    NaN
# 2   10.0   20.0   30.0   40.0
# 3   60.0   70.0   80.0   90.0
# 4  600.0  700.0  800.0  900.0

     D    B    E    A
1  1.0  2.0  3.0  4.0
2  6.0  7.0  8.0  9.0
3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN
       A      B      C      D
1    NaN    NaN    NaN    NaN
2   10.0   20.0   30.0   40.0
3   60.0   70.0   80.0   90.0
4  600.0  700.0  800.0  900.0

In [ ]:
left, right = df.align(other, join="outer", axis=None)

print(left)
#      A    B   C    D    E
# 1  4.0  2.0 NaN  1.0  3.0
# 2  9.0  7.0 NaN  6.0  8.0
# 3  NaN  NaN NaN  NaN  NaN
# 4  NaN  NaN NaN  NaN  NaN

print(right)
#        A      B      C      D   E
# 1    NaN    NaN    NaN    NaN NaN
# 2   10.0   20.0   30.0   40.0 NaN
# 3   60.0   70.0   80.0   90.0 NaN
# 4  600.0  700.0  800.0  900.0 NaN