In [1]:
import numpy as np

import pandas as pd

In [2]:
data = {
    'Nombre': ['Juan', 'María', 'Carlos'],
    'Edad': [25, 30, 28]
}

df = pd.DataFrame(data)

# Agregar una nueva columna de edades en meses
edades_en_meses = [edad*12 for edad in df['Edad']]
df['Edad_en_anios'] = edades_en_meses

print(df)

   Nombre  Edad  Edad_en_anios
0    Juan    25            300
1   María    30            360
2  Carlos    28            336

In [3]:
import pandas as pd

data = {
    'Nombre': ['Juan', 'María', 'Carlos'],
    'Edad': [25, 30, 28]
}

df = pd.DataFrame(data)

print(df['Nombre'])
# 0      Juan
# 1     María
# 2    Carlos
# Name: Nombre, dtype: object

0      Juan
1     María
2    Carlos
Name: Nombre, dtype: object

In [4]:
data = {
    'Nombre': ['Juan', 'María', 'Carlos'],
    'Edad': [25, 30, 28],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}

df = pd.DataFrame(data)

print(df)
#    Nombre  Edad     Ciudad
# 0    Juan    25     Madrid
# 1   María    30  Barcelona
# 2  Carlos    28   Valencia

print(df.loc[:, ['Nombre', 'Ciudad']])
#    Nombre     Ciudad
# 0    Juan     Madrid
# 1   María  Barcelona
# 2  Carlos   Valencia

print(df.loc[:1, ['Edad', 'Ciudad']])
#    Edad     Ciudad
# 0    25     Madrid
# 1    30  Barcelona

   Nombre  Edad     Ciudad
0    Juan    25     Madrid
1   María    30  Barcelona
2  Carlos    28   Valencia
   Nombre     Ciudad
0    Juan     Madrid
1   María  Barcelona
2  Carlos   Valencia
   Edad     Ciudad
0    25     Madrid
1    30  Barcelona

In [5]:
import pandas as pd

data = {
    'Nombre': ['Juan', 'María', 'Carlos'],
    'Edad': [25, 30, 28]
}

df = pd.DataFrame(data)

# Definir una función que clasifica a las personas por edad
def clasificar_edad(edad):
    if edad < 30:
        return 'Joven'
    else:
        return 'Adulto'

# Agregar una columna 'Clasificación' basada en la función
df['Clasificación'] = df['Edad'].apply(clasificar_edad)

print(df)
#    Nombre  Edad Clasificación
# 0    Juan    25         Joven
# 1   María    30        Adulto
# 2  Carlos    28         Joven

   Nombre  Edad Clasificación
0    Juan    25         Joven
1   María    30        Adulto
2  Carlos    28         Joven

In [6]:
df = pd.DataFrame([('falcon', 'bird', 389.0),
                   ('parrot', 'bird', 24.0),
                   ('lion', 'mammal', 80.5),
                   ('monkey', 'mammal', np.nan)],
                  columns=('name', 'class', 'max_speed'))

print(df)
#      name   class  max_speed
# 0  falcon    bird      389.0
# 1  parrot    bird       24.0
# 2    lion  mammal       80.5
# 3  monkey  mammal        NaN

print(df.pop('class'))
# 0      bird
# 1      bird
# 2    mammal
# 3    mammal
# Name: class, dtype: object

print(df)
#      name  max_speed
# 0  falcon      389.0
# 1  parrot       24.0
# 2    lion       80.5
# 3  monkey        NaN

     name   class  max_speed
0  falcon    bird      389.0
1  parrot    bird       24.0
2    lion  mammal       80.5
3  monkey  mammal        NaN
0      bird
1      bird
2    mammal
3    mammal
Name: class, dtype: object
     name  max_speed
0  falcon      389.0
1  parrot       24.0
2    lion       80.5
3  monkey        NaN

In [7]:
df=pd.DataFrame(np.arange(1,8)*10,columns=['A'])

print(df)
#     A
# 0  10
# 1  20
# 2  30
# 3  40
# 4  50
# 5  60
# 6  70

df['B']=df['A'][:5]

print(df)
#     A     B
# 0  10  10.0
# 1  20  20.0
# 2  30  30.0
# 3  40  40.0
# 4  50  50.0
# 5  60   NaN
# 6  70   NaN

    A
0  10
1  20
2  30
3  40
4  50
5  60
6  70
    A     B
0  10  10.0
1  20  20.0
2  30  30.0
3  40  40.0
4  50  50.0
5  60   NaN
6  70   NaN

In [8]:
import pandas as pd

data = {
    'Producto': ['A', 'B', 'C'],
    'Precio': [10, 20, 15],
    'Cantidad': [3, 2, 5]
}

df = pd.DataFrame(data)

# Insertar una nueva columna 'Mes' después de la columna 'Producto'
meses = ['Enero', 'Febrero', 'Marzo']
df.insert(loc=1, column='Mes', value=meses)

print(df)
#   Producto      Mes  Precio  Cantidad
# 0        A    Enero      10         3
# 1        B  Febrero      20         2
# 2        C    Marzo      15         5

  Producto      Mes  Precio  Cantidad
0        A    Enero      10         3
1        B  Febrero      20         2
2        C    Marzo      15         5

In [9]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
print(df)
#    col1  col2
# 0     1     3
# 1     2     4
df.insert(1, "newcol", [99, 99])
print(df)
#    col1  newcol  col2
# 0     1      99     3
# 1     2      99     4
df.insert(0, "col1", [100, 100], allow_duplicates=True)
print(df)
#    col1  col1  newcol  col2
# 0   100     1      99     3
# 1   100     2      99     4

   col1  col2
0     1     3
1     2     4
   col1  newcol  col2
0     1      99     3
1     2      99     4
   col1  col1  newcol  col2
0   100     1      99     3
1   100     2      99     4

In [10]:
df = pd.DataFrame({'temp_c': [17.0, 25.0]},
                  index=['Portland', 'Berkeley'])

print(df)

print(df.assign(temp_f=lambda x: x.temp_c * 9 / 5 + 32))
print(df.assign(temp_f=lambda x: x['temp_c'] * 9 / 5 + 32))

          temp_c
Portland    17.0
Berkeley    25.0
          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0
          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0

In [11]:
import pandas as pd

data = {
    'Nombre': ['Juan', 'María', 'Carlos'],
    'Edad': [25, 30, 28],
    'Ciudad Nacimiento': ['Madrid', 'Barcelona', 'Valencia']
}

df = pd.DataFrame(data)

# Acceder a la columna 'Nombre' usando la notación de punto
nombres = df.Nombre

print(nombres)
# 0      Juan
# 1     María
# 2    Carlos
# Name: Nombre, dtype: object

0      Juan
1     María
2    Carlos
Name: Nombre, dtype: object

In [12]:
df = pd.DataFrame({'temp_c': [17.0, 25.0]},
                  index=['Portland', 'Berkeley'])
print(df)
#           temp_c
# Portland    17.0
# Berkeley    25.0


# Cuando el valor es un callable, se pasa el dataframe entero y se espera que devuelva una serie de valores indexados
print(df.assign(temp_f=lambda x: x.temp_c * 9 / 5 + 32)) # Notación de punto
#           temp_c  temp_f
# Portland    17.0    62.6
# Berkeley    25.0    77.0
print(df.assign(temp_f=lambda x: x['temp_c'] * 9 / 5 + 32)) # Notación de corchetes
#           temp_c  temp_f
# Portland    17.0    62.6
# Berkeley    25.0    77.0


# Asignar varias columnas a la vez (chaining o encadenamiento)
df=df.assign(temp_f=lambda x: x.temp_c * 9 / 5 + 32,
                temp_k=lambda x: (x.temp_f +  459.67) * 5 / 9)
print(df)
#           temp_c  temp_f  temp_k
# Portland    17.0    62.6  290.15
# Berkeley    25.0    77.0  298.15


# Sobreescribir una columna existente
df=df.assign(temp_f=lambda x: (x.temp_c * 9 / 5 + 32)+10000) # Valor solo para ejemplo (sobreescribe la columna temp_f)
print(df)
#           temp_c   temp_f  temp_k
# Portland    17.0  10062.6  290.15
# Berkeley    25.0  10077.0  298.15

          temp_c
Portland    17.0
Berkeley    25.0
          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0
          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0
          temp_c  temp_f  temp_k
Portland    17.0    62.6  290.15
Berkeley    25.0    77.0  298.15
          temp_c   temp_f  temp_k
Portland    17.0  10062.6  290.15
Berkeley    25.0  10077.0  298.15

In [13]:
df=pd.DataFrame(np.arange(1,8)*10,columns=['A'])
print(df)
print(df[1:5])

    A
0  10
1  20
2  30
3  40
4  50
5  60
6  70
    A
1  20
2  30
3  40
4  50

In [14]:
print(pd.DataFrame(np.arange(9).reshape(3,3),columns=['A','B','C']).transpose())

   0  1  2
A  0  3  6
B  1  4  7
C  2  5  8

In [16]:
# DF con 10 filas y 4 columnas
df = pd.DataFrame(np.random.randn(10, 4), columns=["A", "B", "C", "D"])

# DF con 7 filas y 3 columnas
df2 = pd.DataFrame(np.random.randn(7, 3), columns=["A", "B", "C"])

# El resultado de la suma de ambos DF es un DF con 10 filas y 4 columnas
# pero solo se suman las columnas que tienen el mismo nombre
# las demás columnas se rellenan con NaN
print(df + df2)
#           A         B         C   D
# 0 -2.222504  0.143436  0.679872 NaN
# 1 -0.655604 -0.574030  0.077212 NaN
# 2  1.361765 -1.095438  0.169000 NaN
# 3  0.300353 -0.171156 -0.957518 NaN
# 4  0.852689  0.391679  0.028823 NaN
# 5  0.101004  1.736690 -2.101960 NaN
# 6  1.487226 -1.258533 -0.161016 NaN
# 7       NaN       NaN       NaN NaN
# 8       NaN       NaN       NaN NaN
# 9       NaN       NaN       NaN NaN

          A         B         C   D
0 -2.222504  0.143436  0.679872 NaN
1 -0.655604 -0.574030  0.077212 NaN
2  1.361765 -1.095438  0.169000 NaN
3  0.300353 -0.171156 -0.957518 NaN
4  0.852689  0.391679  0.028823 NaN
5  0.101004  1.736690 -2.101960 NaN
6  1.487226 -1.258533 -0.161016 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

In [22]:
df = pd.DataFrame(np.random.randn(5, 4), columns=["A", "B", "C", "D"])
print(df)
#           A         B         C         D
# 0  0.355537 -0.096981 -0.587880 -0.886987
# 1 -1.712256  0.587684 -0.493939  0.181398
# 2  0.600762 -2.862581 -0.750277  1.320032
# 3  1.023752  0.461318  0.326721 -0.148487
# 4  1.547429  1.935589  1.080260 -1.733394

print(df * 5 + 2)
#           A          B         C         D
# 0  3.777687   1.515093 -0.939400 -2.434933
# 1 -6.561278   4.938422 -0.469695  2.906991
# 2  5.003808 -12.312905 -1.751384  8.600159
# 3  7.118759   4.306592  3.633603  1.257566
# 4  9.737145  11.677946  7.401298 -6.666972

print(1 / df)
#           A          B         C         D
# 0  2.812644 -10.311246 -1.701028 -1.127413
# 1 -0.584025   1.701593 -2.024542  5.512733
# 2  1.664554  -0.349335 -1.332841  0.757558
# 3  0.976799   2.167700  3.060718 -6.734604
# 4  0.646233   0.516639  0.925703 -0.576903

print(df ** 4)
#           A          B         C         D
# 0  0.015979   0.000088  0.119441  0.618968
# 1  8.595566   0.119283  0.059524  0.001083
# 2  0.130259  67.147691  0.316874  3.036250
# 3  1.098446   0.045290  0.011395  0.000486
# 4  5.733806  14.036302  1.361797  9.027960

          A         B         C         D
0  0.355537 -0.096981 -0.587880 -0.886987
1 -1.712256  0.587684 -0.493939  0.181398
2  0.600762 -2.862581 -0.750277  1.320032
3  1.023752  0.461318  0.326721 -0.148487
4  1.547429  1.935589  1.080260 -1.733394
          A          B         C         D
0  3.777687   1.515093 -0.939400 -2.434933
1 -6.561278   4.938422 -0.469695  2.906991
2  5.003808 -12.312905 -1.751384  8.600159
3  7.118759   4.306592  3.633603  1.257566
4  9.737145  11.677946  7.401298 -6.666972
          A          B         C         D
0  2.812644 -10.311246 -1.701028 -1.127413
1 -0.584025   1.701593 -2.024542  5.512733
2  1.664554  -0.349335 -1.332841  0.757558
3  0.976799   2.167700  3.060718 -6.734604
4  0.646233   0.516639  0.925703 -0.576903
          A          B         C         D
0  0.015979   0.000088  0.119441  0.618968
1  8.595566   0.119283  0.059524  0.001083
2  0.130259  67.147691  0.316874  3.036250
3  1.098446   0.045290  0.011395  0.000486
4  5.733806  14.036302  1.361797  9.027960