In [3]:
import pandas as pd

In [69]:
tractors=pd.read_csv('data/Tractors.csv',dtype={'POLIZA':object})
# print("Original:\n",tractors.head())

tractors=tractors.drop(['SEGMENTO','expiration date','TIPO_REMOLQUE','PLACA_REMOLQUE'],axis=1)
tractors['ASEGURADORA'].replace("Á","A",regex=True,inplace=True)
print("New:\n",tractors.head(),end='\n\n')
tractors.rename(columns={'NÚM. ECONÓMICO':'NUM_ECON'},inplace=True)
tractors.rename(columns={'PLACA':'PLACAS'},inplace=True)
print(tractors.dtypes)

def sumarCincuenta(x):
    return x+50

tractors['MODELO']=sumarCincuenta(tractors['MODELO'])
print("New:\n",tractors.head(),end='\n\n')

New:
    NÚM. ECONÓMICO tractor code tractor name        PERMISO_TRANSPORTE  \
0             215       PH-215  215 THORTON  0042TSU23052011021001000
1             216       PH-216  216 THORTON  0042TSU23052011021001000
2             217       PH-217  217 THORTON  0042TSU23052011021001000
3             218       PH-218  218 THORTON  0042TSU23052011021001000
4             219       PH-219  219 THORTON  0042TSU23052011021001000

  ASEGURADORA     POLIZA TIPO_VEHICULO   PLACA  MODELO
0    QUALITAS  830328263       THORTON  19AU2K    2017
1    QUALITAS  830328263       THORTON  18AU2K    2017
2    QUALITAS  830328263       THORTON  17AU2K    2017
3    QUALITAS  830328263       THORTON  16AU2K    2017
4    QUALITAS  830328263       THORTON  95AY9P    2017

NUM_ECON               int64
tractor code          object
tractor name          object
PERMISO_TRANSPORTE    object
ASEGURADORA           object
POLIZA                object
TIPO_VEHICULO         object
PLACAS                object
MODELO                 int64
dtype: object
New:
    NUM_ECON tractor code tractor name        PERMISO_TRANSPORTE ASEGURADORA  \
0       215       PH-215  215 THORTON  0042TSU23052011021001000    QUALITAS
1       216       PH-216  216 THORTON  0042TSU23052011021001000    QUALITAS
2       217       PH-217  217 THORTON  0042TSU23052011021001000    QUALITAS
3       218       PH-218  218 THORTON  0042TSU23052011021001000    QUALITAS
4       219       PH-219  219 THORTON  0042TSU23052011021001000    QUALITAS

      POLIZA TIPO_VEHICULO  PLACAS  MODELO
0  830328263       THORTON  19AU2K    2067
1  830328263       THORTON  18AU2K    2067
2  830328263       THORTON  17AU2K    2067
3  830328263       THORTON  16AU2K    2067
4  830328263       THORTON  95AY9P    2067